body{
    background-image: url("");
}
h1 {
  text-align: center;
  font-size: 250%;
  color: #eddccd;
}

#nadpis {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #15626a;
  width: fit-content;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

#main_mistnost {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

img {
  transform: rotateX(30deg) rotateY(40deg);
  transform-style: preserve-3d; /* důležité pro 3D efekt */
  transition: transform 0.3s ease; /* hezká animace */
}
*{
    font-family: "Lavishly Yours", cursive;
}
